<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
  - Overview of popular programming languages.
  - Exploration of widely used libraries in data science.
  - Introduction to common development environments.
  - Hands-on examples using Jupyter Notebooks and Python.
  - Best practices for data science workflows.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include :
1. Pandas
2. NumPy
3. Scikit-learn


| Data Science Tools      |
|-------------------------|
| Jupyter Notebooks       |
| RStudio                 |
| VSCode with Python      |

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [3]:
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

<h2>Author</h2>
Salma BENMOUSSA